In [20]:
import pandas as pd
BJ=pd.read_csv('/Users/jiaxinteng/Academic/FDS/project/FiveCitiePMData/BeijingPM20100101_20151231.csv')
#BJ.cbwd.value_counts()
#BJ.cbwd.nunique()
BJ=BJ.drop(['No','PM_Dongsi','PM_Dongsihuan','PM_Nongzhanguan','Iprec'],axis=1)
print(BJ.isnull().sum())
BJ.head(6)

year                0
month               0
day                 0
hour                0
season              0
PM_US Post       2197
DEWP                5
HUMI              339
PRES              339
TEMP                5
cbwd                5
Iws                 5
precipitation     484
dtype: int64

,year,month,day,hour,season,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation
0,2010,1,1,0,4,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0
1,2010,1,1,1,4,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0
2,2010,1,1,2,4,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0
3,2010,1,1,3,4,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0
4,2010,1,1,4,4,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0
5,2010,1,1,5,4,NaN,-19.0,47.0,1017.0,-10.0,NW,16.10,0.0

In [28]:
# drop NA in feature variables
BJ = BJ[pd.notnull(BJ['DEWP'])]
BJ = BJ[pd.notnull(BJ['HUMI'])]
BJ = BJ[pd.notnull(BJ['precipitation'])]
BJ.isnull().sum()

year                0
month               0
day                 0
hour                0
season              0
PM_US Post       2186
DEWP                0
HUMI                0
PRES                0
TEMP                0
cbwd                0
Iws                 0
precipitation       0
dtype: int64

In [ ]:
# take the unknown PM rows as test data

In [ ]:
# correlation between each features and target variables

In [ ]:
# build a model using training data